# Keep this in sync with env.sample.bat
export POSTGRES_USERNAME=postgres
export POSTGRES_PASSWORD=admin
export POSTGRES_HOST=localhost
export POSTGRES_DB=postgres
export POSTGRES_PORT=5432
export SERVER_PORT=3000
