<%- include('header', {title: 'Login'}); -%>

<main class="container">
  <h1>404 Not Found</h1>
  <pre><code>>>> SELECT * FROM WebPages WHERE url = "<%= url %>";
none</code></pre>
</main>

<%- include('footer'); -%>
