<%- include('header', {title: 'Edit Profile'}); -%>
<main class="container">

    <% if (success.length > 0) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <% if (failure.length > 0) { %>
        <div class="alert alert-danger"><%= failure %></div>
    <% } %>

    <!-- Change Password -->
    <!-- Button -->
    <button type="button" id="pwdBtn" class="btn btn-primary" data-toggle="modal" data-target="#pwdModal">
        Change Password
    </button>

    <!-- Modal -->
    <div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pwdModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/edit/password" method="POST">
                    <div class="modal-body">
                        <label class="font-weight-bold"><b>Old Password</b></label>
                        <input class="form-control" type="password" placeholder="Enter Old Password" name="oldPwd"
                               autocomplete="current-password" required>

                        <label class="font-weight-bold"><b>New Password</b></label>
                        <input class="form-control" type="password" placeholder="Enter New Password" id="newPwd" name="newPwd"
                               autocomplete="new-password" required>

                        <label class="font-weight-bold"><b>Confirm New Password</b></label>
                        <input class="form-control" type="password" placeholder="Confirm New Password" name="cfmNewPwd"
                               autocomplete="new-password" oninput="checkMatchingPassword(this)" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Change Email -->
    <!-- Button -->
    <button type="button" id="emailBtn" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">
        Change Email
    </button>

    <!-- Modal -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">Change Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/edit/email" method="POST">
                    <div class="modal-body">
                        <label class="font-weight-bold"><b>New Email</b></label>
                        <input class="form-control" type="email" placeholder="Enter New Email" name="newEmail" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Change Phone -->
    <!-- Button -->
    <button type="button" id="phoneBtn" class="btn btn-primary" data-toggle="modal" data-target="#phoneModal">
        Change Phone
    </button>

    <!-- Modal -->
    <div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="phoneModalLabel">Change Phone</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/edit/phone" method="POST">
                    <div class="modal-body">
                        <label class="font-weight-bold"><b>New Phone</b></label>
                        <input class="form-control" type="tel" placeholder="Enter New Phone" name="newPhone" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" value="email">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<script language='javascript' type='text/javascript'>
    function checkMatchingPassword(input) {
        if (input.value != document.getElementById('newPwd').value) {
            input.setCustomValidity('Password must be matching.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>

<%- include('footer'); -%>
