<%- include('header', {title: 'Edit Profile'}); -%>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<main class="container">

  <% if (displayedUser === null) { %>
  <div class="alert alert-danger">Profile not found.</div>
  <% } else { %>
      <div class="container">
          <button type="button" id="pwdBtn" class="btn btn-primary" onclick="openForm('pwdPopup')">Change Password</button>
          <button type="button" id="emailBtn" class="btn btn-primary" onclick="openForm('emailPopup')">Change Email</button>
          <button type="button" id="phoneBtn" class="btn btn-primary" onclick="openForm('phonePopup')">Change Phone</button>
          <div class="form-popup" id="pwdPopup">
              <form action="/edit" method="POST" class="form-container">
                  <h1 class="font-weight-bolder">Change Password</h1>

                  <div class="form-group">
                     <label for="pwdPopup" class="font-weight-bold"><b>Old Password</b></label>
                    <input class="form-control" type="password" placeholder="Enter Old Password" name="oldPwd" required>
                  </div>

                  <div class="form-group">
                    <label for="pwdPopup" class="font-weight-bold"><b>New Password</b></label>
                    <input class="form-control" type="password" placeholder="Enter New Password" name="newPwd" required>
                  </div>

                  <div class="form-group">
                      <label for="pwdPopup" class="font-weight-bold"><b>Confirm New Password</b></label>
                      <input class="form-control" type="password" placeholder="Confirm New Password" name="cfmNewPwd" required>
                  </div>

                  <button class="btn btn-success" type="submit" class="btn">Change</button>
                  <button class="btn btn-danger" type="button" class="btn cancel" onclick="closeForm('pwdPopup')">Close</button>
              </form>
          </div>

          <div class="form-popup" id="emailPopup">
              <form action="/edit" method="POST" class="form-container">
                  <h1 class="font-weight-bolder">Change Email</h1>

                  <div class="form-group">
                      <label for="emailPopup" class="font-weight-bold"><b>New Email</b></label>
                      <input class="form-control" type="text" placeholder="Enter New Email" name="oldEmail" required>
                  </div>

                  <div class="form-group">
                      <label for="emailPopup" class="font-weight-bold"><b>Confirm New Email</b></label>
                      <input class="form-control" type="text" placeholder="Confirm New Email" name="newEmail" required>
                  </div>

                  <button class="btn btn-success" type="submit" class="btn">Change</button>
                  <button class="btn btn-danger" type="button" class="btn cancel" onclick="closeForm('emailPopup')">Close</button>
              </form>
          </div>

          <div class="form-popup" id="phonePopup">
              <form action="/edit" method="POST" class="form-container">
                  <h1 class="font-weight-bolder">Change Phone</h1>

                  <div class="form-group">
                      <label for="phonePopup" class="font-weight-bold"><b>New Phone</b></label>
                      <input class="form-control" type="text" placeholder="Enter New Phone" name="oldPhone" required>
                  </div>

                  <div class="form-group">
                      <label for="phonePopup" class="font-weight-bold"><b>Confirm New Phone</b></label>
                      <input class="form-control" type="text" placeholder="Confirm New Phone" name="newPhone" required>
                  </div>

                  <button class="btn btn-success" type="submit" class="btn">Change</button>
                  <button class="btn btn-danger" type="button" class="btn cancel" onclick="closeForm('phonePopup')">Close</button>
              </form>
          </div>

      </div>
  <% } %>

</main>

<script>
    function openForm(type) {
        document.getElementById(type).style.display = "block";
    }

    function closeForm(type) {
        document.getElementById(type).style.display = "none";
    }
</script>

<%- include('footer'); -%>
