<%- include('header', {title: 'Home'}); -%>

<main class="container">
  <div class="jumbotron text-center">

    <h1>Welcome to HelloPet</h1>


    <img src="/images/hellopet.png" alt="Website Logo" width="180" height="180">


    <p>Log in or Register with:</p>

    <a href="/login" class="btn btn-default"><button type="submit" class="btn btn-warning btn-lg"> Log In</button></a>
    <a href="/signup" class="btn btn-default"><button type="submit" class="btn btn-warning btn-lg"> Sign Up</button></a>
  </div>
</main>

<%- include('footer'); -%>
