html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}
main {
  padding: 80px 0 80px 0;
  flex: 1 0 auto;
}
footer {
  color: #fff;
  padding: 50px 0;
}

/* start of edit page css*/
#pwdBtn{
  position: fixed;
  left: 10%;
}

#emailBtn{
  position: fixed;
  left: 35%;
}

#phoneBtn{
  position: fixed;
  left: 60%;
}
/* end of edit page css */